<div class="login-form-container">>
        <div class="login-form-container">
            <mat-card class="login-form-card">
                <div class="form-wapper">
                    <mat-card-header class="card-header">
                        <img src="../assets/logos/tamtemLogo.png" width="128" height="128" alt="logo">
                    </mat-card-header>
                    <mat-card-content>
                        <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form">
                            <mat-form-field appearance="outline">
                                <mat-label>Email</mat-label>
                                <input matInput placeholder="someone@something.com" formControlName="email" type="email" required>
                                <mat-error *ngIf="loginForm.controls?.['email']?.invalid">Invalid Email</mat-error>
                            </mat-form-field>
                    
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Password</mat-label>
                                <input matInput placeholder="Password" formControlName="password" type="password" required>
                                <mat-error *ngIf="loginForm.controls?.['password']?.invalid">Invalid Password</mat-error>
                            </mat-form-field>
                            <mat-card-actions class="form-action">
                                <button mat-raised-button class="submit" type="submit" [disabled]="!loginForm.valid">Login</button>
                            </mat-card-actions>
                        </form>
                    </mat-card-content>
                </div>
            </mat-card>
        </div>
</div>